<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
		    <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
          <rules>
             <rule name="Release notes redirect" stopProcessing="true">
             <match url="(.*)" />
             <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)ReleaseNotes/?$" />
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)ReleaseNotes/index.html/?$" />
             </conditions>
             <action type="Redirect" url="/1.7" redirectType="Permanent"/>
             </rule>
             <rule name="Api redirect" stopProcessing="true">
             <match url="(.*)" />
             <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)api/?$" />
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)api/index.html/?$" />
             </conditions>
             <action type="Redirect" url="/1.7/api/SiliconStudio.Xenko.Engine.html" redirectType="Permanent"/>
             </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>