<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
			<remove fileExtension="woff" />
			<remove fileExtension="woff2" />
			<mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
			<remove fileExtension=".mp4"/>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
        <rewrite>
          <rules>
             <rule name="Release notes redirect" stopProcessing="true">
             <match url="(.*)" />
             <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)ReleaseNotes/?$" />
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)ReleaseNotes/index.html/?$" />
             </conditions>
             <action type="Redirect" url="/1.8" redirectType="Permanent"/>
             </rule>
             <rule name="Api redirect" stopProcessing="true">
             <match url="(.*)" />
             <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)api/?$" />
                <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*?/)api/index.html/?$" />
             </conditions>
             <action type="Redirect" url="/1.8/api/SiliconStudio.Xenko.Engine.html" redirectType="Permanent"/>
             </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>